.personal-info {
    width: 100%;
    padding: 80px;
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: rgb(35, 58, 140);
}

.personal-info li {
    width: 250px;
    margin: 0px 10px;
    padding: 30px;
    background-color: rgba(173, 202, 240, 0.3);
    border: 1px solid rgba(173, 202, 240, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal-info__value,
.personal-info__name {
    color: rgb(255, 255, 255);
}

.personal-info__value {
    font-size: 40px;
    font-weight: 700;
}

.personal-info__name {
    margin-top: 20px;
}

@media (max-width: 1000px) {
    .personal-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
    }

    .personal-info li {
        width: 100%;
        margin: 0px;
    }
}

@media (max-width: 800px) {
    .personal-info {
        width: 100%;
        padding: 50px;
    }
}

@media (max-width: 500px) {
    .personal-info {
        padding: 80px 50px;
        display: flex;
        column-gap: 0px;
        row-gap: 0px;
        flex-direction: column;
    }

    .personal-info li {
        width: 100%;
        margin: 16px 0px;
    }
}
