.projects {
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.projects h2 {
    color: rgb(35, 58, 140);
    font-size: 30px;
}

.projects-list {
    margin-top: 30px;
    list-style: none;
    display: flex;
}

/* Responsiveness */

@media (max-width: 1200px) {
    .projects {
        padding-left: 50px;
        padding-right: 50px;
    }

    .projects-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        column-gap: 30px;
    }
}

@media (max-width: 850px) {
    .projects-list {
        padding-left: 70px;
        padding-right: 70px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 630px) {
    .projects-list {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 530px) {
    .projects {
        padding-left: 30px;
        padding-right: 30px;
    }

    .projects-list {
        padding-left: 0px;
        padding-right: 0px;
    }
}
