.projects {
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.projects h2 {
    color: rgb(35, 58, 140);
    font-size: 30px;
}

.projects-list {
    margin-top: 30px;
    list-style: none;
    display: flex;
}
