.hamburger {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.hamburger li {
    height: 4px;
    width: 30px;
    margin: 2px 0px;
    background-color: rgb(35, 58, 140);
    border-radius: 2px;
}

/* Responsiveness */

@media (min-width: 750px) {
    .hamburger {
        display: none;
    }
}
