.skills {
    padding: 80px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills h2 {
    color: rgb(35, 58, 140);
    font-size: 30px;
}

.skills-info {
    height: 510px;
    width: 100%;
    margin-top: 50px;
    position: relative;
}

.skills-info__divider {
    width: 5px;
    height: 100%;
    background-color: rgb(250, 231, 22);
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(0px -50%);
}

/* Responsiveness */

@media (max-width: 900px) {
    .skills {
        padding-left: 80px;
        padding-right: 80px;
    }

    .skills-info {
        margin-top: 30px;
        height: fit-content;
        position: static;
    }

    .skills-info__divider {
        display: none;
    }
}

@media (max-width: 650px) {
    .skills {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 500px) {
    .skills {
        padding: 80px 30px;
    }

    .skills h2 {
        text-align: center;
    }
}
