.about-skills {
    margin-top: 20px;
    list-style: none;
    display: flex;
}

.about-skills li {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-skills li:nth-child(1) {
    padding-left: 0px;
}

.about-skills li img {
    height: 30px;
    width: 30px;
}

.about-skills li p {
    margin: 0px;
    padding-top: 10px;
    white-space: nowrap;
    font-size: 14px;
}
