.about {
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h2 {
    font-size: 30px;
    color: rgb(35, 58, 140);
}

.about span {
    height: 5px;
    width: 70px;
    margin: 5px 0px;
    background-color: rgb(250, 231, 22);
}

.about-details {
    width: 100%;
    margin-top: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-evenly;
}

.about-details__contact {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-details__contact ul {
    padding: 10px 50px;
    list-style: none;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
}

.about-details__contact ul li {
    display: flex;
    padding: 8px 0px;
}

.about-details__contact ul li img {
    margin-right: 16px;
    height: 20px;
    width: 20px;
}

.about-details__info {
    width: 50%;
}

.about-details__info h3 {
    font-size: 24px;
    color: rgb(35, 58, 140);
}

.about-details__info p {
    margin: 20px 0px;
    font-size: 18px;
    line-height: 24px;
}

.about-details__info-skills {
    padding: 10px 0px;
}

/* Responsiveness */

@media (max-width: 1000px) {
    .about {
        padding: 80px 50px;
    }

    .about-details__info {
        width: 100%;
    }

    .about-details__info h3 {
        display: flex;
        justify-content: center;
    }

    .about-details__info p {
        text-align: center;
    }

    .about-details__contact {
        display: none;
    }
}

@media (max-width: 500px) {
    .about {
        padding: 80px 30px;
    }

    .about-details {
        padding: 0px;
        flex-direction: column;
        align-items: center;
    }
}
