nav {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    background-color: rgba(255, 255, 255);
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: all ease 0.25s;
}

.blue-nav {
    background-color: rgb(35, 58, 140);
    box-shadow: 0 16px 10px -6px rgba(0, 0, 0, 0.3);
}

.blue-nav h1,
.blue-nav ul li {
    color: rgba(255, 255, 255);
}

nav h1 {
    font-size: 26px;
    color: rgb(35, 58, 140);
}

nav h1:hover {
    cursor: pointer;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin: 0px 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: rgb(35, 58, 140);
}

.nav-list li:hover {
    cursor: pointer;
}

/* Responsiveness */

@media (max-width: 500px) {
    .nav-list {
        display: none;
    }
}
