.header-skill {
    padding: 8px 5px;
    display: flex;
    border: none;
    border-radius: 20px;
    background-color: rgba(173, 202, 240, 0.3);
    display: flex;
    align-items: center;
}

.header-skill p {
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.header-skill img {
    height: 14px;
    width: 14px;
    margin: 0px 10px;
}

/* Responsiveness */

@media (max-width: 1000px) {
    .header-skill {
        margin: 10px 0px;
    }
}

@media (max-width: 650px) {
    .header-skill {
        margin: 5px 0px;
    }

    .header-skill p {
        font-size: 13px;
    }

    .header-skill img {
        height: 12px;
        width: 12px;
    }
}
