header {
    margin-top: 70px;
    position: relative;
}

.header-bg-color {
    height: 100%;
    width: 100%;
    background: linear-gradient(
        to bottom right,
        rgba(35, 58, 140, 0.8),
        rgba(173, 202, 240, 0.5)
    );
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-bg-img {
    height: 550px;
}

.header-bg-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.header-details {
    height: 490px;
    width: 100%;
    margin-top: 60px;
    padding: 0px 150px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-details h2 {
    font-size: 42px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 42px;
}

.header-details h3 {
    margin: 25px 0px;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.header-description {
    max-width: 600px;
    padding: 10px 0px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 26px;
}

/* header skills styles */

header ul {
    max-width: 900px;
    padding: 25px 0px;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

/* header buttons styles */

.header-buttons {
    margin: 10px 0px;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.header-btn__projects,
.header-btn__contact {
    height: 50px;
    padding: 0px 30px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 25px;
    transition: background-color ease 0.15s;
}

.header-btn__projects {
    background-color: rgb(250, 231, 22);
    color: rgb(35, 58, 140);
    border: none;
}

.header-btn__projects:hover {
    background-color: rgba(250, 231, 22, 0.75);
}

.header-btn__contact {
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.header-btn__contact:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

/* Responsiveness */
@media (max-width: 1000px) {
    .header-details {
        padding: 0px 100px;
    }
}

@media (max-width: 1000px) {
    .header-details {
        padding: 0px 60px;
    }

    .header-details h2 {
        display: none;
    }

    .header-details h3 {
        margin-top: 0px;
        margin-bottom: 25px;
    }

    header ul {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media (max-width: 650px) {
    header ul {
        padding: 16px 0px;
        display: flex;
        flex-direction: column;
    }

    .header-bg-img {
        height: 620px;
    }

    .header-details {
        height: 550px;
        margin-top: 40px;
        padding: 0px 30px;
    }

    .header-details h2 {
        display: none;
    }

    .header-description {
        font-size: 15px;
    }
}
