footer {
    padding: 80px 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(35, 58, 140);
}

footer section {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h3 {
    margin-bottom: 5px;
    font-size: 22px;
    color: rgb(250, 231, 22);
}

footer .marker {
    background-color: rgb(173, 202, 240);
}

.footer-links ul,
.footer-contact ul {
    margin: 10px 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links ul li,
.footer-contact ul li {
    padding: 5px 0px;
    display: flex;
}

/* footer about styles */

.footer-about p {
    color: rgb(255, 255, 255);
    margin: 20px 0px;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
}

.footer-about ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer-about ul li {
    height: 40px;
    width: 40px;
    margin: 0px 10px;
    background-color: rgba(173, 202, 240, 0.3);
    border-radius: 50%;
    transition: background-color ease 0.15s;
}

.footer-about ul li:hover {
    background-color: rgba(173, 202, 240, 0.5);
}

.footer-about ul li a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-about ul li img {
    height: 16px;
    width: 16px;
}

/* footer links styles */

.footer-links ul li {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.footer-links ul li:hover {
    cursor: pointer;
}

/* footer contact styles */

.footer-contact ul li {
    width: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.footer-contact ul li img {
    height: 16px;
    width: 16px;
}

.footer-contact ul li p {
    font-size: 18px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
}

/* Responsiveness */

@media (max-width: 500px) {
    footer {
        padding: 80px 30px;
        flex-direction: column;
    }

    footer section {
        width: 100%;
    }

    .footer-links {
        margin: 30px 0px;
    }
}
